<div class="main-wrap" style="background-image: url(assets/imgs/bg-home-2.svg);" fxLayoutAlign="center center">
    <div class="main-wrap-blur"></div>
</div>

<div class="main-error">
    <div class="btn-wrap">
        <font color="#ffffff"> Go back to the &nbsp;</font>
        <a class="btn-login" [routerLink]="['/login']" routerLinkActive="active"> Login </a>
        <font color="#ffffff"> &nbsp; page. </font>
    </div>
    <div class="main-error-content">
        <div class="imgs">
            <img class="img-login-logo" src="assets/imgs/ic-father-01.png" alt="ตราพ่อขุน">
        </div>
        <div class="h2-group">
            <h2 class="text-warning">Your information is incomplete</h2>
            <h2>“Please complete the survey again. Before clicking save survey, please double check the accuracy and completeness of the information.”
            </h2>
            <h2 class="h2-last-text">“Please login to the system again later”</h2>
        </div>
    </div>
    <h3>
        response Some data was lost status error 0 !
    </h3>

</div>