/*👉.mat-select-panel {
    overflow: hidden !important;
}👈*/

a {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
    color: #fc035e !important;
    text-decoration: underline !important;
}

a:focus {
    color: #fc035e !important;
    text-decoration: underline !important;
}

.do-not-change-address {
    z-index: -99;
}

.double-under-line-section {
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
    text-decoration-style: double;
    -moz-text-decoration-style: double;
}

.single-under-line-section {
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
}

.textarea-full-width {
    width: 50%;
}

textarea.mat-input-element {
    color: darkblue !important;
}

small {
    font-size: 1rem;
}

.ng-autocomplete {
    width: 50vw;
}

.ng-autocomplete ::ng-deep .autocomplete-container {
    box-shadow: none;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.ng-autocomplete ::ng-deep .autocomplete-container .input-container input:disabled {
    background-color: #fff;
    color: #FFF;
}

.btn-submit {
    background-color: darkblue;
    color: #fff;
    margin: 10px !important;
    font-size: 20px;
    padding: 10px 80px !important;
}

.btn-submit:hover {
    color: #fff;
    background-color: rgb(61, 61, 196);
}

.btn-submit:disabled {
    color: rgba(0, 0, 0, .26);
    background-color: rgba(0, 0, 0, .12);
}

@media screen and (max-width: 959px) {
    a {
        padding: 16px;
    }
    .img-login-logo {
        width: 20vw !important;
        margin-bottom: 1em;
    }
    .mat-form-field {
        font-size: 1.3em !important;
    }
    h1 {
        font-size: 1.3em !important;
    }
    h2 {
        font-size: 1em !important;
        padding-top: 1em;
    }
    .text-label-size {
        font-size: 1.3em !important;
    }
     ::ng-deep input {
        font-weight: normal;
    }
     ::ng-deep .mat-radio-label-content {
        font-weight: normal;
    }
    .text-mat-label-content {
        font-weight: normal;
        padding-bottom: 1em !important;
    }
     ::ng-deep mat-card {
        width: 95vw !important;
        padding: 0px 16px!important;
        margin-top: 0px !important;
        margin-bottom: 10px !important;
    }
    /*👉.main-content {
    width: 95vw !important;
}👈*/
    .mat-card {
        margin-bottom: 10px !important;
        width: 95vw;
    }
    .main-wrap {
        background-size: cover;
        background-position: top right;
        width: 100vw !important;
        padding: 0px !important;
        margin: 0px !important;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
    }
    .main-wrap-close {
        width: 100vw !important;
        height: 100vh;
        padding: 0px !important;
        /* margin-top: -9px !important; */
        background-size: cover;
        background-position: right;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
    }
    .text-div-content {
        padding-bottom: 15px;
    }
    hr {
        margin: 5px 0px !important;
    }
    .name-content>*,
    .gender-content>*,
    .std-code-content>*,
    .age-content>*,
    .faculty-content>*,
    .std-type-content>*,
    .std-study-time-content>*,
    .std-fund-content>*,
    .be-work-status-content>*,
    .qn-work-status-content>*,
    .occup-type-content>*,
    .salary-content>*,
    .address-content>*,
    .find-work-content>*,
    .math-edu-content>*,
    .work-applay-content>*,
    .employer-content>*,
    .award-content>*,
    .addprogram-content>*,
    .comment-content>* {
        display: flex;
        flex-direction: column;
        padding: 0px 5px 0px 20px !important;
        width: 80vw !important;
    }
     ::ng-deep .input-text-work {
        width: 80vw !important;
    }
    .width-screen {
        width: 80vw;
    }
    .width-screen-regional {
        width: 80vw;
        font-size: 1em !important;
    }
    input {
        color: darkblue !important;
    }
}

@media screen and (min-width: 960px) {
    .ng-autocomplete ::ng-deep .autocomplete-container .input-container input {
        font-size: 20px;
    }
    a {
        font-size: 1.2em !important;
    }
    .img-login-logo {
        width: 10vw !important;
        margin-bottom: 1.2em;
    }
     ::ng-deep .mat-card .main-wrap {
        width: 100vw !important;
        padding: 0px !important;
    }
    .main-wrap {
        background-size: cover;
        background-position: top right;
        width: 100vw !important;
    }
    .main-wrap-close {
        background-size: cover;
        background-position: top right;
        width: 100vw !important;
        margin-top: -110px;
        height: 100vh;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
    }
    .mat-card {
        padding: 50px !important;
        margin-bottom: 10px !important;
    }
    .text-div-content {
        padding-bottom: 10px;
    }
    .form-group {
        padding: 5px;
    }
    .text-mat-label-content {
        font-weight: normal;
    }
    .name-content>*,
    .gender-content>*,
    .std-code-content>*,
    .age-content>*,
    .faculty-content>*,
    .std-type-content>*,
    .std-study-time-content>*,
    .std-fund-content>*,
    .be-work-status-content>*,
    .qn-work-status-content>*,
    .occup-type-content>*,
    .salary-content>*,
    .address-content>*,
    .find-work-content>*,
    .math-edu-content>*,
    .work-applay-content>*,
    .employer-content>*,
    .award-content>*,
    .addprogram-content>*,
    .comment-content>* {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 30px !important;
        width: 45vw !important;
    }
    .width-screen {
        width: 35vw;
    }
    .width-screen-regional {
        width: 35vw;
        font-size: 0.8em !important;
    }
    .h2-content-padding-left {
        padding-left: 30px;
    }
    input {
        color: darkblue !important;
    }
    .p-text-title-1 {
        font-size: 1.8em;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    }
    .p-text-title-2 {
        display: none;
    }
    .main-content {
        width: 70vw;
    }
}
