<div class="main-wrap" style="background-image: url(assets/imgs/bg-home.svg);" fxLayoutAlign="center center">
    <div class="main-wrap-blur"></div>
</div>

<div class="main-error">
    <div class="btn-wrap">
        <font color="#ffffff"> Go back to the &nbsp;</font>
        <a class="btn-login" [routerLink]="['/login']" routerLinkActive="active"> Login </a>
        <font color="#ffffff"> &nbsp; page. </font>
    </div>
    <div class="main-error-content">
        <div class="imgs">
            <img class="img-login-logo" src="assets/imgs/ic-father-01.png" alt="ตราพ่อขุน">
        </div>
        <div class="h2-group">
            <h2 class="text-danger">“Server cannot respond”</h2>
            <h2>“Currently there are many users of the system causing inconvenience in using the service. The university apologizes for any inconvenience.”
            </h2>
            <h2 class="h2-last-text text-warning">“Please login to the system again later”</h2>
        </div>
    </div>
    <h3>
        response server status 500!
    </h3>
</div>