<div class="main-wrap" style="background-image: url(assets/imgs/bg-home-3.svg);" fxLayoutAlign="center center">
    <div class="bg-blur"></div>
</div>

<div class="main-content" fxLayout="column" fxFlexFill fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="">
        <div class="" [style.display]="isTH_EN == true? 'block': 'none'">

            <mat-card fxLayout="column" fxFlexFill fxLayoutAlign="center center">

                <div fxLayout="row" fxFlexFill fxLayoutAlign="end center">
                    <mat-label> LANGUAGE </mat-label> &nbsp;&nbsp;
                    <mat-slide-toggle [(ngModel)]="isTH_EN" [ngModelOptions]="{standalone: true}" (change)="onChange_TH_EN()">
                        <mat-label [style.display]="isTH_EN == true? 'block': 'none'">Thai</mat-label>
                        <mat-label [style.display]="isTH_EN == false? 'block': 'none'">English</mat-label>
                    </mat-slide-toggle>
                </div>

                <div class="img-header-login" fxLayoutAlign="center center">
                    <h1 class="text-center label-text" fxLayout="column" fxLayoutAlign="center center">
                        <img class="img-login-logo" src="assets/imgs/ic-father-01.png" alt="ตราพ่อขุน">
                        <p class="text-login">เข้าสู่ระบบ</p>
                    </h1>
                </div>

                <div class="text-center">
                    <p class="p-text-title-1">แบบสำรวจภาวะการมีงานทำของบัณฑิตระดับปริญญาตรี <br> และระดับบัณฑิตศึกษา มหาวิทยาลัยรามคำแหง
                    </p>
                    <p class="p-text-title-2">แบบสำรวจภาวะการมีงานทำของบัณฑิตระดับ <br> ปริญญาตรี และระดับบัณฑิตศึกษา
                        <br> มหาวิทยาลัยรามคำแหง
                    </p>
                </div>

                <form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">

                    <div class="form-group input-field-std-birth-date" fxLayout="column">

                        <mat-form-field appearance="outline">
                            <mat-label>รหัสนักศึกษา</mat-label>
                            <input matInput placeholder="กรุณากรอก รหัสนักศึกษา" class="form-control" type="text" formControlName="std_code" maxlength="10" [class.is-invalid]="stdCode.invalid && stdCode.touched" numbersOnly>
                        </mat-form-field>

                        <div *ngIf="stdCode.invalid && stdCode.touched">
                            <small *ngIf="stdCode.errors?.required" class="text-danger small-warning"> กรุณากรอก
                หัสนักศึกษา!
              </small>
                            <small *ngIf="stdCode.errors?.minlength" class="text-danger small-warning"> รหัสนักศึกษา
                ต้องมีทั้งหมด
                10 ตัวอักษร! </small>
                        </div><br>

                        <mat-form-field appearance="outline">
                            <mat-label>วันเกิด</mat-label>
                            <input readonly matInput [matDatepicker]="picker" formControlName="birth_date" placeholder="กรุณากรอก วันเกิด" class="form-control" [class.is-invalid]="birthDate.invalid && birthDate.touched">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker startView="multi-year"></mat-datepicker>
                        </mat-form-field>

                        <div *ngIf="birthDate.invalid && birthDate.touched">
                            <small *ngIf="birthDate.errors?.required" class="text-danger small-warning">กรุณาเลือก
                วันเกิด!</small>
                        </div><br>

                    </div>

                    <div class="form-group" fxLayout="row" fxLayoutAlign="end center">
                        <button mat-raised-button class="btn-login" color="primary" type="submit" [disabled]="stdCode.invalid && stdCode.touched || stdCode.errors?.minlength || birthDate.invalid && birthDate.touched || stdCode.untouched || birthDate.untouched">Login</button>
                    </div>
                </form>

            </mat-card>
        </div>

        <!-- ภาษาอังกฤษ -->
        <div class="" [style.display]="isTH_EN == false? 'block': 'none'">

            <mat-card fxLayout="column" fxFlexFill fxLayoutAlign="center center">
                <div fxLayout="row" fxFlexFill fxLayoutAlign="end center">
                    <mat-label> LANGUAGE </mat-label> &nbsp;&nbsp;
                    <mat-slide-toggle [(ngModel)]="isTH_EN" [ngModelOptions]="{standalone: true}" (change)="onChange_TH_EN()">
                        <mat-label [style.display]="isTH_EN == true? 'block': 'none'">Thai</mat-label>
                        <mat-label [style.display]="isTH_EN == false? 'block': 'none'">English</mat-label>
                    </mat-slide-toggle>
                </div>

                <div class="img-header-login" fxLayoutAlign="center center">
                    <h1 class="text-center label-text" fxLayout="column" fxLayoutAlign="center center">
                        <img class="img-login-logo" src="assets/imgs/ic-father-01.png" alt="ตราพ่อขุน">
                        <p class="text-login">Login</p>
                    </h1>
                </div>

                <div class="text-center">
                    <p class="p-text-title-1">The information about employment status <br> of undergraduate and graduate students
                        <br> Ramkhamhaeng University
                    </p>
                    <p class="p-text-title-2">The information about employment status of undergraduate and graduate students <br> Ramkhamhaeng University</p>
                </div>


                <form [formGroup]="userLoginFormEN" (ngSubmit)="onSubmitEN()">

                    <div class="form-group" fxLayout="column">

                        <mat-form-field appearance="outline">
                            <mat-label>Student ID</mat-label>
                            <input matInput placeholder="Please enter student ID" class="form-control" type="text" formControlName="std_code_en" maxlength="10" [class.is-invalid]="stdCodeEN.invalid && stdCodeEN.touched" numbersOnly>
                        </mat-form-field>

                        <div *ngIf="stdCodeEN.invalid && stdCodeEN.touched">
                            <small *ngIf="stdCodeEN.errors?.required" class="text-danger small-warning">Please enter
                student
                ID!</small>
                            <small *ngIf="stdCodeEN.errors?.minlength" class="text-danger small-warning">Student ID must
                have a total
                of
                10 characters!</small>
                        </div><br>

                        <mat-form-field appearance="outline">
                            <mat-label>date of birth</mat-label>
                            <input readonly matInput [matDatepicker]="pickerEN" formControlName="birth_date_en" placeholder="Please enter date of birth" class="form-control" [class.is-invalid]="birthDateEN.invalid && birthDateEN.touched">
                            <mat-datepicker-toggle matSuffix [for]="pickerEN"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #pickerEN startView="multi-year"></mat-datepicker>
                        </mat-form-field>

                        <div *ngIf="birthDateEN.invalid && birthDateEN.touched">
                            <small *ngIf="birthDateEN.errors?.required" class="text-danger small-warning">
                Please enter date of birth!
              </small>
                        </div><br>

                    </div>
                    <!-- [style.display]="isOPEN_CLOSE == true? 'block': 'none'" -->
                    <div class="form-group" fxLayout="row" fxLayoutAlign="end center">
                        <button mat-raised-button class="btn-login" color="primary" type="submit" [disabled]="stdCodeEN.invalid && stdCodeEN.touched || stdCodeEN.errors?.minlength || birthDateEN.invalid && birthDateEN.touched || stdCodeEN.untouched || birthDateEN.untouched">Login</button>
                    </div>
                </form>


            </mat-card>

            <!-- {{userLoginForm.value | json}} -->
        </div>
    </div>
    <div class="footer" fxLayout="row" fxLayoutAlign="center end" style="margin-bottom: 0;">
        <div class="">
            <!-- <h5 class="footer">แบบสำรวจภาวะการมีงานทำของบัณฑิต มหาวิทยาลัยรามคำแหง</h5> -->
        </div>
    </div>
</div>
