<div class="main-wrap" style="background-image: url(assets/imgs/bg-home-3.svg);" fxLayoutAlign="center center">
</div>

<div class="main-content" fxLayout="column" fxFlexFill fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="">
        <div class="">

            <mat-card fxLayout="column" fxFlexFill fxLayoutAlign="center center">

                <div class="img-header-login" fxLayoutAlign="center center">
                    <h1 class="text-center label-text" fxLayout="column" fxLayoutAlign="center center">
                        <img class="img-login-logo" src="assets/imgs/ic-father-01.png" alt="ตราพ่อขุน">
                        <p class="text-login">เข้าสู่ระบบ</p>
                    </h1>
                </div>

                <div class="text-center">
                    <p class="p-text-title-1">แบบสำรวจภาวะการมีงานทำของบัณฑิต มหาวิทยาลัยรามคำแหง</p>
                    <p class="p-text-title-2">แบบสำรวจภาวะการมีงานทำของบัณฑิต</p>
                    <p class="p-text-title-2">มหาวิทยาลัยรามคำแหง</p>
                </div>

                <hr />

                <form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">

                    <div class="form-group" fxLayout="column">

                        <mat-form-field appearance="outline">
                            <mat-label>รหัสนักศึกษา</mat-label>
                            <input matInput placeholder="กรุณากรอก รหัสนักศึกษา" class="form-control" type="text" formControlName="std_code" maxlength="10" [class.is-invalid]="stdCode.invalid && stdCode.touched" numbersOnly>
                        </mat-form-field>

                        <div *ngIf="stdCode.invalid && stdCode.touched">
                            <small *ngIf="stdCode.errors?.required" class="text-danger small-warning">กรุณากรอก หัสนักศึกษา!</small>
                            <small *ngIf="stdCode.errors?.minlength" class="text-danger small-warning">รหัสนักศึกษา ต้องมีทั้งหมด 10
                ตัวอักษร!</small>
                        </div><br>

                        <mat-form-field appearance="outline">
                            <mat-label>ปี/เดือน/วัน เกิด</mat-label>
                            <input readonly matInput [matDatepicker]="picker" formControlName="birth_date" placeholder="กรุณากรอก เดือน/วัน/ปี เกิด" class="form-control" [class.is-invalid]="birthDate.invalid && birthDate.touched">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker startView="multi-year"></mat-datepicker>
                        </mat-form-field>

                        <div *ngIf="birthDate.invalid && birthDate.touched">
                            <small *ngIf="birthDate.errors?.required" class="text-danger small-warning">กรุณาเลือก ปี/เดือน/วัน
                เกิด!</small>
                        </div><br>

                    </div>
                    <!-- [style.display]="isOPEN_CLOSE == true? 'block': 'none'" -->
                    <div class="form-group" fxLayout="row" fxLayoutAlign="end center">
                        <button mat-raised-button class="btn-login" color="primary" type="submit" [disabled]="stdCode.invalid && stdCode.touched || stdCode.errors?.minlength || birthDate.invalid && birthDate.touched || stdCode.untouched || birthDate.untouched">Login</button>
                    </div>
                </form>


                <hr />

            </mat-card>

            <!-- {{userLoginForm.value | json}} -->
        </div>
    </div>
    <div class="footer" fxLayout="row" fxLayoutAlign="center end" style="margin-bottom: 0;">
        <div class="">
            <!-- <h5 class="footer">แบบสำรวจภาวะการมีงานทำของบัณฑิต มหาวิทยาลัยรามคำแหง</h5> -->
        </div>
    </div>
</div>