<div class="main-wrap" style="background-image: url(assets/imgs/bg-home-2.svg);" fxLayoutAlign="center center">
    <div class="main-wrap-blur"></div>
</div>

<div class="main-error">
    <div class="btn-wrap">
        <a class="btn-login" [routerLink]="['/login']" routerLinkActive="active">กลับไปหน้า Login</a>
    </div>
    <div class="main-error-content">
        <div class="imgs">
            <img class="img-login-logo" src="assets/imgs/ic-father-01.png" alt="ตราพ่อขุน">
        </div>
        <div class="h2-group">
            <h2 class="text-warning">“ข้อมูลของท่านไม่ครบถ้วน”</h2>
            <h2>“กรุณาทำการกรอกแบบสำรวจใหม่อีกครั้ง ก่อนทำการกดบันทึกแบบสำรวจ กรุณาตรวจสอบความถูกต้องครบถ้วนของข้อมูลอีกครั้ง”
            </h2>
            <h2 class="h2-last-text">“กรุณา Login เข้าสู่ระบบอีกครั้งในภายหลังค่ะ”</h2>
        </div>
    </div>
    <h3>
        response Some data was lost status error 0 !
    </h3>

</div>