<div class="main-wrap" style="background-image: url(assets/imgs/bg-home.svg);" fxLayoutAlign="center center">
    <div class="main-wrap-blur"></div>
</div>

<div class="main-error">
    <div class="btn-wrap">
        <a class="btn-login" [routerLink]="['/login']" routerLinkActive="active">กลับไปหน้า Login</a>
    </div>
    <div class="main-error-content">
        <div class="imgs">
            <img class="img-login-logo" src="assets/imgs/ru.png" alt="ตราพ่อขุน">
        </div>
        <div class="h2-group">
            <h2 class="text-danger">“Server ไม่สามารถตอบสนองได้”</h2>
            <h2>“ขณะนี้มีผู้ใช้งานระบบเป็นจำนวนมาก ทำให้เกิดความไม่สะดวกในการใช้บริการ ทางมหาวิทยาลัยขออภัยในความไม่สะดวกมา ณ ที่นี้ด้วยค่ะ”
            </h2>
            <h2 class="h2-last-text text-warning">“กรุณา Login เข้าสู่ระบบอีกครั้งในภายหลังค่ะ”</h2>
        </div>
    </div>
    <h3>
        response server status 500!
    </h3>
</div>
